* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.about {
  justify-content: space-evenly;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  width: 100%;
  text-align: left;
  z-index: 1;
  position: relative;
  padding: 10px;
}

@media only screen and (max-width: 600px) {
  .fire {
    width: 95%;
  }
  .electric {
    width: 95%;
  }
  .water {
    width: 95%;
  }
  .normal {
    width: 95%;
  }
}

.pokemon-card {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  height: 672px;
  width: 450px;
  border-radius: 15px;
  display: grid;
  overflow: hidden;
  box-shadow: 20px 12px 20px 0px black;
  border: 15px solid #e7c30d;
  font-family: arial, sans-serif;
  position: relative;
  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("./background.jpg");
    background-size: cover;
    z-index: -1;
    filter: hue-rotate(140deg);
  }
}

.grass {
  @extend .pokemon-card;

  &:before {
    filter: hue-rotate(231deg);
  }
}

.fighting {
  @extend .pokemon-card;

  &:before {
    filter: hue-rotate(159deg);
  }
}

.rock {
  @extend .pokemon-card;

  &:before {
    filter: hue-rotate(179deg);
  }
}
.ground {
  @extend .pokemon-card;

  &:before {
    filter: hue-rotate(169deg);
  }
}

.bug {
  @extend .pokemon-card;

  &:before {
    filter: hue-rotate(215deg);
  }
}

.fire {
  @extend .pokemon-card;

  &:before {
    filter: hue-rotate(140deg);
  }
}
.electric {
  @extend .pokemon-card;

  &:before {
    filter: hue-rotate(190deg);
  }
}
.water {
  @extend .pokemon-card;

  &:before {
    filter: hue-rotate(10deg);
  }
}

.ice {
  @extend .pokemon-card;
  &:before {
    opacity: 0.5;
    filter: hue-rotate(10deg);
  }
}

.normal {
  @extend .pokemon-card;

  &:before {
    filter: grayscale(1);
  }
}

.steel {
  @extend .pokemon-card;

  &:before {
    opacity: 0.5;
    filter: grayscale(1);
  }
}

.ghost {
  @extend .pokemon-card;
  &:before {
    filter: hue-rotate(80deg);
  }
}

.psychic {
  @extend .pokemon-card;

  &:before {
    filter: hue-rotate(55deg);
  }
}

.poison {
  @extend .pokemon-card;

  &:before {
    filter: hue-rotate(49deg);
  }
}

.dragon {
  @extend .pokemon-card;

  &:before {
    filter: hue-rotate(280deg);
  }
}

.fairy {
  @extend .pokemon-card;

  &:before {
    opacity: 0.5;

    filter: hue-rotate(80deg);
  }
}

.title-row {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-areas:
    "rarity rarity rarity"
    "name health type";
  grid-template-columns: auto 75px 25px;
  grid-template-rows: 15px 25px;
  align-items: center;
  column-gap: 5px;
  margin: 5px 20px 0 20px;
}

.rarity {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  grid-area: rarity;
  font-weight: bold;
  font-size: 12px;
}

.name {
  font-size: 25px;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  grid-area: name;
}

.health {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  grid-area: health;
  font-weight: bold;
  font-size: 20px;
  text-align: right;
  color: red;
}

.type {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  grid-area: type;
  width: 100%;
}

.character-img {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  padding: 0;
  margin: 0 20px;
  background-color: rgb(216, 216, 231);
  height: 270px;
  border: 5px solid yellow;
  overflow: hidden;
  img {
    height: 100%;
  }
}

.character-meta {
  box-sizing: border-box;
  padding: 0;

  background-color: yellow;
  height: 25px;
  margin: 0 40px;
  align-items: center;
  p {
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    font-style: italic;
  }
}

.character-ability {
  height: 75px;
  display: grid;
  grid-template-columns: 35px auto;
  gap: 5px;
  align-items: center;
  justify-items: center;
  margin: 0 10px;
  border-bottom: 2px solid black;
  .ability-cost {
    img {
      width: 30px;
    }
  }

  .ability-description {
    text-align: left;
    .ability-name {
      font-weight: bold;
      height: 15px;
      float: left;
    }
    p {
      &::before {
        content: "\00a0";
      }
      img {
        height: 18px;
        vertical-align: middle;
      }
      text-align: left;
    }
  }
}

.character-stats {
  height: 45px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  .character-stat {
    display: grid;
    justify-items: center;
    grid-template-rows: 20px 25px;
    p {
      font-size: 18px;
      font-weight: bold;
    }
  }
}
.character-description {
  height: 40px;
  margin: 0 20px;
  border: 2px solid yellow;
  display: grid;
  align-items: center;
  p {
    font-style: italic;
    font-size: 12px;
    padding: 0 10px;
    font-weight: bold;
  }
}

.element-icon {
  height: 100%;
}
